h1 {
  text-align: center;
  margin: 30px 0;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  position: relative;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  font-weight: bold;
}

.right-border {
  border-right: 0.8rem solid #505670;
}
.bottom-border {
  border-bottom: 0.8rem solid #505670;
}
.x-color {
  color: chartreuse;
}

.o-color {
  color: yellow;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}
.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.x-strick,
.o-strick {
  width: 100%;
  background-color: chartreuse;
  position: absolute;
}
.o-strick {
  background-color: yellow;
}
.strick-row-1 {
  height: 5px;
  top: 41px;
}
.strick-row-2 {
  height: 5px;
  top: 142px;
}
.strick-row-3 {
  height: 5px;
  bottom: 49px;
}
.strick-column-1 {
  height: 100%;
  width: 5px;
  left: 43.5px;
}
.strick-column-2 {
  height: 100%;
  width: 5px;
  left: 143.5px;
}
.strick-column-3 {
  height: 100%;
  width: 5px;
  right: 47.5px;
}

.strick-diagonal-1 {
  width: 100%;
  height: 5px;
  top: 50%;
  left: 5px;
  transform: skewY(45deg);
}
.strick-diagonal-2 {
  width: 100%;
  height: 5px;
  top: 46.6%;
  transform: skewY(-45deg);
}
.state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-top: 30px;
  color: #ccc;
}

.play-btn {
  height: 40px;
  padding: 0rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: #0b3954;
  cursor: pointer;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
}

.play-btn:hover {
  background-color: #0e496b;
}

.x-win,
.o-win {
  font-weight: 700;
  font-size: 3rem;
}

.x-win {
  color: chartreuse;
}

.o-win {
  color: yellow;
}
