h1 {
  text-align: center;
  margin: 30px 0;
}

.game {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  margin: 0 auto;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  font-weight: bold;
}

.right-border {
  border-right: 0.8rem solid #505670;
}
.bottom-border {
  border-bottom: 0.8rem solid #505670;
}
.x-color {
  color: chartreuse;
}

.o-color {
  color: yellow;
}
